#titl {
    border-radius: 5% 2% 2% 5%;
    box-shadow: 1px 1px 8px grey;
    margin-top: 3%;
    background-color: #5D6D7E;
    opacity: 0.9;
}

#im {
    margin-top: 3%;
    margin-bottom: 3%;
    margin-right: 8%;
    width: 100%;
    height: 9em;
    border-radius: 7%;
}

#desg>h4 {
    color: #ACD1B0;
}

#sd {
    color: #E1E9E2;
}

#desg {
    margin-left: 8%;
    margin-top: 2.1em;
}